section.info-section{
    width: 80%;
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-white-transparent);
    backdrop-filter: blur(8px);
    border: 1px solid var(--light-white-transparent);
    border-radius: 15px;
}

section.info-section .info-text{
display: flex;
flex-direction: column;
color:#fff;
padding:2rem;
}

section.info-section .info-text p{
    font-family: var(--font-2);
    color: var(--clr-light-grey);
    padding: 0.2rem;
    font-size: .8rem;
    }

section.info-section > p{
    width: 500px;
    margin: 1rem 2rem;
    font-family: var(--font-2);
    font-size: 0.9rem;
    color:var(--clr-light-grey);
    font-weight: 300;
}

div.info-main-container{
    position: relative;
}
div.info-circle{
    position:absolute;
    width: 50px;
    height: 50px;
    margin-left: 300px;
    margin-top: -150px;
    background-color: var(--clr-secondary);
    border: none;
    border-radius: var(--rnd);
    z-index: -10;
}