h1{
    color: var(--clr-light-grey);
    margin-top: 4rem;
    text-align: center;
    font-size: 1.4rem;
}
#precio{
    padding: 1rem;
    font-size: 2rem;
    font-family: var(--font-2);
}

section.wrapper-detail{
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem auto 3rem auto;
    padding:1rem;
    border: 1px solid var(--clr-secondary-hover);
    border-radius: var(--rnd-med);
    background-color: var(--light-black-transparent);
    backdrop-filter: blur(8px);
    border: 1px solid var(--light-white-transparent);
    border-radius: 15px;
}

div.content-detail{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.img-detail img{
    border: none;
    border-radius: var(--rnd-med);
    margin-left: 0.5rem;
}

.bar-detail{
    width: 3px;
    height: 240px;
    margin: 1rem;
    border: none;
    background-color: var(--clr-secondary);
    border-radius: var(--rnd-soft);
}

.description-detail{
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8rem;
}

div.description-detail h2{
    color: #fff;
    padding: 1rem 0;
    font-size: 1rem;
}

div.description-detail p{
    color: #fff;
    padding: 0.2rem 0;
    font-size: 0.8rem;
    font-family: var(--font-2);
}

.btn-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;
}
hr{margin-top: 1rem;}

.btn-detail button{
    margin-top: 1rem;
    padding: 0.2rem 0.8rem;
    font-size: 1rem;
    color: #fff;
    background: transparent;
    border:1px solid #fff;
    border-radius: var(--rnd-strong);
    z-index: 20;
    cursor: pointer;
    transition: all 200ms ease-in-out; 
}

div.btn-detail .buy-btn{
    margin-top: 1rem;
    padding: 0.4rem 4rem;
    font-size: 1rem;
    color: var(--clr-light-grey);
    background: linear-gradient(0deg, var(--clr-secondary) 75%, var(--clr-secondary-hover) 100%);
    border:1px solid rgb(146, 146, 146);
    border-radius: var(--rnd-strong);
    z-index: 20;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}
div.btn-detail .buy-btn:hover{
    color: #fff;
    border: 1px solid #fff;
    box-shadow: 0px 0px 15px 1px var(--clr-secondary-hover) ;
}
.back-btn{
    width: 140px;
    margin-top: 1rem;
    padding: 0.2rem 0.8rem;
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
    background: transparent;
    border:1px solid #fff;
    border-radius: var(--rnd-strong);
    z-index: 20;
    cursor: pointer;
    transition: all 200ms ease-in-out; 
    text-align: center;
}

.back-btn:hover{border:1px solid var(--clr-secondary-hover);}