
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Comfortaa', 'Roboto';
}

body{
    width: 100%;
    background-image: linear-gradient(90deg, rgb(14, 14, 17) 0%, rgb(5, 5, 19) 21%, #320119 100%);
    background-size: cover;
    background-repeat:no-repeat ;
}
